OMNIZAP_ADAPTADO.json
{
  "name": "AUTOMAÇÃO OMNIZAP.AI (OFICIAL)",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "3419c30f-4400-401b-bf40-db1579507f96",
              "leftValue": "={{ $json.telefone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2cda5b60-54bf-4ccc-9c90-8e80377701cc",
      "name": "Cliente Existe?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        3984,
        752
      ],
      "alwaysOutputData": false,
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "tableId": "leads",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "telefone",
              "fieldValue": "={{ $('Dados Lead').item.json.Telefone }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $('Dados Lead').item.json.Criado_em }}"
            },
            {
              "fieldId": "nome",
              "fieldValue": "={{ $('Dados Lead').item.json.LeadNome }}"
            },
            {
              "fieldId": "user_id",
              "fieldValue": "{{ $('Get a row1').first().json.user_id }}"
            },
            {
              "fieldId": "origem",
              "fieldValue": "WhatsApp"
            },
            {
              "fieldId": "ultima_mensagem",
              "fieldValue": "={{ $now }}"
            }
          ]
        }
      },
      "id": "f37dc241-cdf8-4677-8732-23a90c08b921",
      "name": "Criar Cliente1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4304,
        1088
      ],
      "credentials": {
        "supabaseApi": {
          "id": "08McCiYnqbejcODw",
          "name": "OmniZap.AI"
        }
      },
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {},
      "id": "28a9c280-ddbf-4778-adb0-ce19588bacec",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        4480,
        736
      ],
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "24aa4532-80db-4c1e-977a-0036b82a8e5f",
              "leftValue": "=",
              "rightValue": "false",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f5824571-1e36-44d2-89cf-80ba2a981f5a",
      "name": "Filtro Inicial1",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.1,
      "position": [
        -960,
        784
      ],
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9f488c5c-0b3b-48e9-87b1-5a22d513d1ec",
              "name": "IdConversa",
              "value": "={{ $('Remove Duplicates').item.json.body.phone }}",
              "type": "string"
            },
            {
              "id": "69f6217f-9063-423f-abf4-e94f6b70f94e",
              "name": "LeadNome",
              "value": "={{ $('Remove Duplicates').item.json.body.senderName }}",
              "type": "string"
            },
            {
              "id": "87804275-b0eb-4451-af46-3c2bfd53273c",
              "name": "Criado_em",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "70c960e7-b979-4d6a-88a0-3f877ebe0537",
              "name": "Email",
              "value": "={{ $('Extrair Email1').item.json.email }}",
              "type": "string"
            },
            {
              "id": "44444ad8-70eb-4679-85c8-35ee77cd76f6",
              "name": "Company_id",
              "value": "=1",
              "type": "string"
            },
            {
              "id": "6048d9ef-3f99-411a-b260-cf2d08c198aa",
              "name": "Telefone",
              "value": "={{ $('Remove Duplicates').item.json.body.phone }}",
              "type": "string"
            },
            {
              "id": "f12ea712-c7ed-4731-9626-8797bfdf4c8c",
              "name": "User_id",
              "value": "",
              "type": "string"
            },
            {
              "id": "ab044038-9e55-4e32-87c7-aecd7308f226",
              "name": "telefone conectado",
              "value": "={{ $('Webhook').item.json.body.connectedPhone }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "0ebc9c55-e017-4cf2-a51e-0f55246f01b6",
      "name": "Dados Lead",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -656,
        784
      ],
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "content": "Ajuste o Node Set com os campos relevantes fornecidos.\n",
        "height": 280,
        "width": 210,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -704,
        688
      ],
      "id": "189cd899-7e61-4509-b4fa-174a1a67aec9",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Ajustes os filtros necessários conforme seu gatilho de entrada",
        "height": 280,
        "width": 190,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1008,
        688
      ],
      "id": "07be924a-92df-4045-ae00-6160fa4c5206",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Ajuste tempos de buffer e inatividade do agente conforme necessidade.\n",
        "height": 280,
        "width": 254,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1360,
        688
      ],
      "id": "2ff1e0c8-b0a4-449d-8f30-14122f3ea4a0",
      "name": "Sticky Note18"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        640,
        352
      ],
      "id": "51681a54-cafc-476d-97bc-1853a07c9456",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3bdce7b6-d0f1-442c-aafd-8cd123aa21b6",
              "name": "EsperaBuffer",
              "value": 15,
              "type": "number"
            },
            {
              "id": "c38e8985-4494-40a4-878e-f25467849842",
              "name": "TempoInatividadeAgente",
              "value": 900,
              "type": "number"
            },
            {
              "id": "ac619a5e-1438-4e19-aaf5-21dfcbc32312",
              "name": "ModeloTemperatura",
              "value": 0.4,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1296,
        784
      ],
      "id": "e8e56f3b-aa37-4369-842d-9783f267a368",
      "name": "Parametros Fluxo",
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "756ab323-31a2-4a59-92e8-c2c695027962",
              "leftValue": "={{ $('Webhook').item.json.body.data.key.fromMe }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -144,
        800
      ],
      "id": "068184d0-f1d8-4f04-acb6-a1d873f545fb",
      "name": "É INTERVENÇÃO HUMANA",
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        512,
        0
      ],
      "id": "52510344-e2d2-43d5-9432-a174c8c5022d",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Dados Lead').item.json.IdConversa }}_status",
        "value": "Desativado",
        "expire": true,
        "ttl": "={{ $('Parametros Fluxo').item.json.TempoInatividadeAgente }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "37bc556f-6eec-48a5-b2b2-16a035f73a9d",
      "name": "DESATIVA AGENTE",
      "credentials": {
        "redis": {
          "id": "db6OCyQgQQYQz54S",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $('Webhook').item.json.body.data.message.conversation }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        192,
        0
      ],
      "id": "8cad1165-e6f7-433a-b007-3ae08db6c6b7",
      "name": "Chat Memory Manager"
    },
    {
      "parameters": {
        "mode": "insert",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $('Webhook').item.json.body.data.message.conversation }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        336,
        352
      ],
      "id": "6d073bfd-75dd-4f10-952a-8f57e5c77a86",
      "name": "Chat Memory Manager1"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "leads",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.phone }}"
            },
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "{{ $('Get a row1').first().json.user_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "ultima_mensagem",
              "fieldValue": "={{ $now }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4224,
        592
      ],
      "id": "95708a7e-b2b4-4988-8338-44331704ca9e",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "08McCiYnqbejcODw",
          "name": "OmniZap.AI"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "function findEmailAnywhere(obj) {\n  const emailRegex = /[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}/;\n\n  if (typeof obj === \"string\") {\n    const match = obj.match(emailRegex);\n    return match ? match[0] : null;\n  }\n\n  if (typeof obj === \"object\" && obj !== null) {\n    for (const key of Object.keys(obj)) {\n      const result = findEmailAnywhere(obj[key]);\n      if (result) return result;\n    }\n  }\n\n  return null;\n}\n\nconst email = findEmailAnywhere($json);\n\nreturn [{\n  json: {\n    email: email\n  }\n}];"
      },
      "id": "0946f6d1-01bd-4e14-99cb-6b910e4d5a76",
      "name": "Extrair Email1",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -1504,
        784
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Extrair Email1').item.json.email }}",
              "operation": "contains",
              "value2": "=@"
            }
          ]
        }
      },
      "id": "670ded18-a9b0-4bda-880e-d5ea17907d97",
      "name": "IF - Tem Email?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -432,
        784
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "leads",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $json.Telefone }}"
            },
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "{{ $('Get a row1').first().json.user_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "email",
              "fieldValue": "={{ $('Extrair Email1').item.json.email }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -288,
        576
      ],
      "id": "26a5d705-5ae4-4974-9b5f-16520472d37b",
      "name": "Update a row1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "08McCiYnqbejcODw",
          "name": "OmniZap.AI"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Dados Lead').item.json.IdConversa }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        192,
        176
      ],
      "id": "1d7da532-040f-469f-934a-1c4e094b4bf5",
      "name": "Postgres Chat Memory4",
      "credentials": {
        "postgres": {
          "id": "u8wKduElywl4HeHO",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Dados Lead').item.json.IdConversa }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        368,
        512
      ],
      "id": "4f79b3dd-431f-47c8-b298-60cdc1429a9a",
      "name": "Postgres Chat Memory5",
      "credentials": {
        "postgres": {
          "id": "u8wKduElywl4HeHO",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "AgenteStatus",
        "key": "={{ $('Dados Lead').item.json.IdConversa }}_status",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        48,
        816
      ],
      "id": "4f814f76-a510-4c85-a7b7-a081f8d6ba78",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "db6OCyQgQQYQz54S",
          "name": "Redis account"
        }
      },
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "756ab323-31a2-4a59-92e8-c2c695027962",
              "leftValue": "={{ $json.AgenteStatus }}",
              "rightValue": "Desativado",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        224,
        816
      ],
      "id": "925fa67a-0fa7-434b-b50c-9e92d9f20d57",
      "name": "Bot Desativado?1",
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whebhook omni.ai",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2048,
        784
      ],
      "id": "52584a44-c9ae-427e-a717-d88ecce728c8",
      "name": "Webhook",
      "webhookId": "9e8914c2-44b6-4d3c-acf0-58c5ef11bb97"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Mensagem').item.json.message }}",
        "options": {
          "systemMessage": "={{ $('Buscar Config Agente').first().json.prompt || 'Você é um assistente de IA da OmniZap...' }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        5280,
        736
      ],
      "id": "3df3666f-ffbb-4fdf-b389-25e32ba83c1a",
      "name": "AGENTE LAURA WHATSAPP"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "leads",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.id }}"
            },
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "{{ $('Get a row1').first().json.user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        5072,
        1312
      ],
      "id": "4369d4df-2454-4a2f-934f-f37bda5b8294",
      "name": "PEGAR_DADOS1",
      "credentials": {
        "supabaseApi": {
          "id": "08McCiYnqbejcODw",
          "name": "OmniZap.AI"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.mensagens",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        6368,
        736
      ],
      "id": "80e0c202-e8c1-4221-8c54-9bda8f1f34fe",
      "name": "Split Out1",
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        6752,
        752
      ],
      "id": "c14837d7-1363-43e8-9003-9a9a7d06efe9",
      "name": "Loop Over Items1",
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        7312,
        1008
      ],
      "id": "5e91e5b6-e17a-49a5-b8a3-b44d17f2f5f6",
      "name": "Wait3",
      "webhookId": "65ff8064-0a3a-4195-bf63-5cc130c8fe48",
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        7040,
        544
      ],
      "id": "1e113ba2-b38c-4809-be99-43cb56f45fcd",
      "name": "No Operation, do nothing5",
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "typeVersion": 1,
      "position": [
        6128,
        912
      ],
      "id": "5120844f-b82d-4f2d-95b1-00799108d83f",
      "name": "Auto-fixing Output Parser1",
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        6048,
        1072
      ],
      "id": "8a49e04e-f29e-45b2-8b74-514cd1be7681",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "HE7f87bPwctrynj3",
          "name": "prospecçao"
        }
      }
    },
    {
      "parameters": {
        "content": "Ajuste sua instância e autenficiação da Evolution",
        "height": 300,
        "width": 230,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6992,
        768
      ],
      "id": "e380ee8f-446f-4594-90d6-7716dc0480eb",
      "name": "Sticky Note22"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"mensagens\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    }\n  },\n  \"required\": [\"mensagens\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        6320,
        1072
      ],
      "id": "0f394e04-5c42-4e13-ba8e-5979ef994f19",
      "name": "Structured Output Parser [Schema]",
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<mensagem_do_usuario>\n{{ $json.output }}\n</mensagem_do_usuario>",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=Apenas estruture a <mensagem_do_usuario> no formato JSON solicitado no output parser e seguindo as instruções de formatação abaixo. Não altere nada mais na mensagem\n\n# Formatação\n- Divida as mensagens para que fiquem naturais e humanizadas;\n- Divida as mensagens conforme estrutura do output parser para que não fiquem muito longas (maiores que 240 caractéres);\n- Não separe mensagens vazias;\n- Use quebras de linhas (\\n\\n) após pontos finais;\n- Para negrito (bold) use apenas um '' nunca duas '' (exemplo: *negrito).\n\nExemplo de formato JSON:\n{\n\"mensagens\": [\"Mensagem 0\", \"Mensagem 1\", \"Mensagem 2\"]\n}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        6032,
        736
      ],
      "id": "bea77dd0-9d81-4ae5-8129-2f1267aa7310",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "74a857ff-01ac-4830-b963-a818207646a7",
              "name": "telefone_final",
              "value": "={{ $json.telefone }}",
              "type": "string"
            },
            {
              "id": "a00ac47c-21da-4155-bda9-491d3a556051",
              "name": "remoteJid_final",
              "value": "={{ $json.telefone }}",
              "type": "string"
            },
            {
              "id": "73df1ed3-6778-4266-b9db-510458aa7a30",
              "name": "sessionKey_final",
              "value": "={{ $json.telefone }}",
              "type": "string"
            },
            {
              "id": "cade8ce2-1a49-4924-af38-4c42a6a2921a",
              "name": "origem_lead",
              "value": "={{ $json.origem_lead }}",
              "type": "string"
            },
            {
              "id": "51bda230-a93b-4bd7-85c2-4c417ddb5410",
              "name": "nome",
              "value": "={{ $json.nome }}",
              "type": "string"
            },
            {
              "id": "890ae0a2-93fc-4965-8c82-3c8a1425a161",
              "name": "numero conectado",
              "value": "",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4720,
        736
      ],
      "id": "88552d88-f827-4f9a-8713-427c86d70fb2",
      "name": "DADOS FIXOS DO LEAD1"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "leads",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $json.telefone }}"
            },
            {
              "keyName": "nome",
              "condition": "eq",
              "keyValue": "={{ $json.nome }}"
            },
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "{{ $('Get a row1').first().json.user_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues0_Field_Value', `atualizar etapa_pipeline do lead :\n- em_atendimento \n- reuniao_marcada`, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        5264,
        1312
      ],
      "id": "d87993c9-8626-46d0-a6d3-7ee9ef8d7d4b",
      "name": "ATUALIZAR_LEAD_CRM",
      "credentials": {
        "supabaseApi": {
          "id": "08McCiYnqbejcODw",
          "name": "OmniZap.AI"
        }
      }
    },
    {
      "parameters": {
        "model": "google/gemini-3-flash-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        4736,
        992
      ],
      "id": "3e50e8f5-c2d8-482b-a047-7bf02cd10cf6",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "K8ZDEKsbd9Abwz3V",
          "name": "API Open Router"
        }
      }
    },
    {
      "parameters": {
        "tableId": "appointments",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "summary",
              "fieldValue": "={{ $fromAI(\"summary_reuniao\") }}\n"
            },
            {
              "fieldId": "description",
              "fieldValue": "={{ $fromAI(\"descricao_reuniao\") }}\n"
            },
            {
              "fieldId": "start_time",
              "fieldValue": "={{ $fromAI(\"inicio_reuniao\") }}\n"
            },
            {
              "fieldId": "end_time",
              "fieldValue": "={{ $fromAI(\"fim_reuniao\") }}\n"
            },
            {
              "fieldId": "meeting_link",
              "fieldValue": "={{ $fromAI(\"link_google_meet\") }}\n"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        5456,
        1312
      ],
      "id": "2c082cfe-bb67-4994-a9b9-248d4ba10186",
      "name": "CRIAR_REUNIAO_CRM",
      "credentials": {
        "supabaseApi": {
          "id": "08McCiYnqbejcODw",
          "name": "OmniZap.AI"
        }
      }
    },
    {
      "parameters": {
        "content": "### Tipos de Mensagens\nDefina no node Switch as condicionais para definir cada tipo de mídia de acordo com seu gatilho de entrada de dados.\n\nEm cada Node Set:\nMapeie os campos de cada\ntipo de mensagem corretamente.\n\nObs: Não altere o nome\ndos campos pré existentes\nnos nodes SET",
        "height": 1232,
        "width": 450,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        816,
        208
      ],
      "id": "5d40217d-7e63-4ce1-bc09-d015e57d7bfb",
      "name": "Sticky Note19"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "bc64f125-d93c-4d1d-97ae-65c0adb08b79",
                    "leftValue": "={{ $('Webhook').item.json.body.text.message }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "137aec3f-e95e-4d59-b9ba-1140f9fc4fb4",
                    "leftValue": "={{ $('Webhook').item.json.body.audio.audioUrl }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body.image.imageUrl }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "40b284c8-fdf7-49e5-9ac3-8c5051f51521"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "imagem"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "7babc8fd-200c-4cb8-bc63-f999f57d5217",
                    "leftValue": "={{ $('Webhook').item.json.body.document.mimeType }}",
                    "rightValue": "pdf",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Outro"
        }
      },
      "id": "995d4f18-493a-47d7-baa3-f58dedf519c6",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.1,
      "position": [
        880,
        784
      ],
      "notesInFlow": true,
      "notes": "Ajustar condições para cada tipo de mensagem a depender da sua entrada de dados\n\nTEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "content": "### Tratamento de Mensagens\nCada canal pode nos enviar as informações de diferentes formas e aqui trataremos elas de acordo.\n",
        "height": 1040,
        "width": 450,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1312,
        320
      ],
      "id": "cbc40d33-4235-491d-8750-32d9b01cc4f5",
      "name": "Sticky Note29"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Dados Lead').item.json.IdConversa }}_buffer",
        "messageData": "={{ $json.Texto }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1872,
        368
      ],
      "id": "130f6b39-a06c-4f0f-836f-e374d5bac5b4",
      "name": "Add Texto Buffer",
      "credentials": {
        "redis": {
          "id": "db6OCyQgQQYQz54S",
          "name": "Redis account"
        }
      },
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Dados Lead').item.json.IdConversa }}_buffer",
        "messageData": "={{ $json.text }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1872,
        576
      ],
      "id": "4413b62b-590c-4ee3-b637-c5799e3b94df",
      "name": "Add Audio Buffer",
      "credentials": {
        "redis": {
          "id": "db6OCyQgQQYQz54S",
          "name": "Redis account"
        }
      },
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Dados Lead').item.json.IdConversa }}_buffer",
        "messageData": "={{ $json.Erro }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1872,
        1216
      ],
      "id": "13971f24-5e95-4ea1-8a5c-8f695aa3b9e1",
      "name": "Add Error Buffer",
      "credentials": {
        "redis": {
          "id": "db6OCyQgQQYQz54S",
          "name": "Redis account"
        }
      },
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Dados Lead').item.json.IdConversa }}_buffer",
        "messageData": "=<ContextoPDF>\n  <TranscricaoPDF>\n{{ $json.text }}\n  </TranscricaoPDF>\nContexto Extra: O usuário encaminhou a mensagem a seguir junto ao PDF.\n  <MensagemUsuario>\n{{ $('Mensagem Documento PDF1').item.json.MensagemDocumento }}\n  </MensagemUsuario>\n</ContextoPDF>",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1872,
        1008
      ],
      "id": "2b90fee7-cb69-44a5-ab46-8f787217011e",
      "name": "Add PDF Buffer",
      "credentials": {
        "redis": {
          "id": "db6OCyQgQQYQz54S",
          "name": "Redis account"
        }
      },
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Dados Lead').item.json.IdConversa }}_buffer",
        "messageData": "=<ContextoImagem>\n\n  <DetalheImagem>\n{{ $json.content }}\n  </DetalheImagem>\n\nContexto Extra: O usuário encaminhou a mensagem a seguir junto á imagem.\n  <MensagemUsuario>\n{{ $('Mensagem Imagem').item.json.MensagemImagem }}\n  </MensagemUsuario>\n\n</ContextoImagem>",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1872,
        768
      ],
      "id": "b887aa61-dfb4-443c-b1b3-4bf4ca2cca6c",
      "name": "Add Imagem Buffer",
      "credentials": {
        "redis": {
          "id": "db6OCyQgQQYQz54S",
          "name": "Redis account"
        }
      },
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "=data",
        "options": {
          "language": "pt"
        }
      },
      "id": "db801c52-dd7c-4f3f-9234-d35e1e3656b1",
      "name": "Transcrever Áudio",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        1536,
        576
      ],
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "HE7f87bPwctrynj3",
          "name": "prospecçao"
        }
      },
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "=#Instruções\nO usuário te enviou uma imagem a qual você deve descrever.\n\nA imagem pode vir acompanhada de uma mensagem de texto (<MensagemUsuario>)\n\nCaso venha, utilize a mensagem anexa como contexto extra, tente capturar o sentimento da mensagem e objetivo pelo qual o usuário esteja enviando esta imagem na conversa.\n\nCrie uma resposta descrevendo as informações enviadas para que estas sejam utilizadas por um agente no futuro.\n\nLembre-se:\nEste agente apenas terá as informações que você fornecer, portanto repasse toda informação que julgar importante.\n\n#Dados\n<MensagemUsuario>\n{{ $json.MensagemImagem }}\n</MensagemUsuario>\n",
        "imageUrls": "={{ $json.Imagem }}",
        "options": {}
      },
      "id": "1d75e673-e321-4c8d-8a98-bd5039f48828",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        1392,
        768
      ],
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "HE7f87bPwctrynj3",
          "name": "prospecçao"
        }
      },
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c1ce011b-bd95-468e-863e-f2076f644cf9",
              "name": "Texto",
              "value": "={{ $('Webhook').item.json.body.text.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1136,
        368
      ],
      "id": "b96b809c-ad33-4300-bdf6-6b2469249951",
      "name": "Mensagem Texto",
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5efc6961-1ff7-4ef2-a772-7e9761592a3e",
              "name": "Audio",
              "value": "={{ $('Webhook').item.json.body.audio.audioUrl }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1136,
        576
      ],
      "id": "6e23b678-d9d8-4ab4-8308-3a54f935c5ce",
      "name": "Mensagem Audio",
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5efc6961-1ff7-4ef2-a772-7e9761592a3e",
              "name": "Imagem",
              "value": "={{ $('Webhook').item.json.body.image.imageUrl }}",
              "type": "string"
            },
            {
              "id": "f5c70ab5-7671-4bc8-9d23-65b8954ddb08",
              "name": "MensagemImagem",
              "value": "={{ $('Webhook').item.json.body.image.caption }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1136,
        768
      ],
      "id": "1b545d09-d890-4ed9-86de-9c9d38f34e54",
      "name": "Mensagem Imagem",
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1600,
        1008
      ],
      "id": "d6ef884f-fcfc-43b6-bbfd-d325120d103a",
      "name": "Extract from File1",
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "11dc126a-e72e-431b-8db5-c78168c69439",
              "name": "Erro",
              "value": "<ErroFormatoMensagem>",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1136,
        1216
      ],
      "id": "956f4ecb-a4d1-447d-8dde-5296a3646a2f",
      "name": "Mensagem Erro",
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5efc6961-1ff7-4ef2-a772-7e9761592a3e",
              "name": "Documento",
              "value": "={{ $('Webhook').item.json.body.document.documentUrl }}",
              "type": "string"
            },
            {
              "id": "003323ec-ffbe-4c91-b8b5-623466b5014d",
              "name": "MensagemDocumento",
              "value": "={{ $('Webhook').item.json.body.document.caption }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1136,
        1008
      ],
      "id": "c3325924-5f59-4a39-82eb-8ca7ef61c1e0",
      "name": "Mensagem Documento PDF1",
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "url": "={{ $json.Audio }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        576
      ],
      "id": "023bdd7f-9c77-4263-9594-492e2ff753fe",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "url": "={{ $json.Documento }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1392,
        1008
      ],
      "id": "aeef8d46-565e-487b-8d16-8f58835097d2",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3DE299D91BC7205E84628E66062CE0C1/token/B1C2CBA5A9965C869F3C5554/send-text",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.body.phone }}"
            },
            {
              "name": "message",
              "value": "={{ $json[\"output.mensagens\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        7056,
        864
      ],
      "id": "880c3e90-5ff2-4c50-81f6-69b41239a732",
      "name": "ENVIAR MENSAGEM Z-API1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "yi2E5yC2y23LGkdu",
          "name": "Z-API 01"
        }
      }
    },
    {
      "parameters": {
        "content": "## Mensagem para o Agente\nMensagem final do usuário para o agente",
        "height": 540,
        "width": 340,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3376,
        512
      ],
      "id": "bd0c2133-3529-48d7-be16-49d8f5fcc1f3",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "amount": "={{ $('Parametros Fluxo').item.json.EsperaBuffer }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2544,
        768
      ],
      "id": "336e1e81-1650-4ee0-8bab-ccaf7625bd47",
      "name": "Wait2",
      "webhookId": "169ea291-c3dc-4bca-854f-05520c979d7d",
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1bd6c365-d077-4284-9dfe-94db1cbe39bd",
              "leftValue": "={{ $('Buffer 4').item.json.messages.last() }}",
              "rightValue": "={{ $('Buffer 1').item.json.messages.last() }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2944,
        768
      ],
      "id": "e1854ee4-12f7-484c-99f9-13cfd00f77da",
      "name": "ComparandoMensagens",
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "66a91f66-e755-4120-b22f-44c814f56162",
              "name": "message",
              "value": "={{ $json.messages[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3504,
        752
      ],
      "id": "2244a316-8a5f-4dba-8ecc-6680d6c2b469",
      "name": "Mensagem",
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "messages",
        "key": "={{ $('Dados Lead').item.json.IdConversa }}_buffer",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2336,
        768
      ],
      "id": "8d8968dd-9ccf-4ebd-9986-14e4b29c6d5c",
      "name": "Buffer 1",
      "credentials": {
        "redis": {
          "id": "db6OCyQgQQYQz54S",
          "name": "Redis account"
        }
      },
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "messages",
        "key": "={{ $('Dados Lead').item.json.IdConversa }}_buffer",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2752,
        768
      ],
      "id": "447874da-1721-4162-9860-fc79b5299d04",
      "name": "Buffer 4",
      "credentials": {
        "redis": {
          "id": "db6OCyQgQQYQz54S",
          "name": "Redis account"
        }
      },
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Dados Lead').item.json.IdConversa }}_buffer"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3200,
        752
      ],
      "id": "a6380729-b9d5-4b30-a3b5-6453e214fb0e",
      "name": "Apagar Buffer",
      "credentials": {
        "redis": {
          "id": "db6OCyQgQQYQz54S",
          "name": "Redis account"
        }
      },
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3184,
        976
      ],
      "id": "d6e355b1-9f6f-442d-8a8f-67c446c51b76",
      "name": "No Operation, do nothing8",
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "leads",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "keyValue": "={{ $('Dados Lead').item.json.Telefone }}"
            },
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "{{ $('Get a row1').first().json.user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3760,
        752
      ],
      "id": "88d18b1e-39ae-4e55-a64e-425f346de5b6",
      "name": "Get a row",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "08McCiYnqbejcODw",
          "name": "OmniZap.AI"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        -1696,
        784
      ],
      "id": "9428242f-2962-44bd-a579-4151c99a0ae0",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        5600,
        736
      ],
      "id": "733e16b5-779b-4f3e-9471-a6764ec1a827",
      "name": "Limit"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        4992,
        736
      ],
      "id": "c70bcf9c-c177-41ae-9603-d811c23d38b0",
      "name": "Limit1"
    },
    {
      "parameters": {
        "jsCode": "// Pega o body do webhook\nconst body = $json.body;\n\n// 1️⃣ Bloqueia apenas mensagens enviadas pelo próprio agente\nif (body.fromMe === true) {\n  return [];\n}\n\n// 2️⃣ Identifica tipo da mensagem\nlet mensagemLead = null;\nlet tipoMensagem = null;\n\nif (body.text && body.text.message) {\n  tipoMensagem = \"texto\";\n  mensagemLead = body.text.message;\n} \nelse if (body.audio) {\n  tipoMensagem = \"audio\";\n  mensagemLead = body.audio;\n}\nelse if (body.image) {\n  tipoMensagem = \"imagem\";\n  mensagemLead = body.image;\n}\nelse if (body.document) {\n  tipoMensagem = \"documento\";\n  mensagemLead = body.document;\n}\nelse {\n  // Se não for nenhum desses, ainda deixa passar\n  tipoMensagem = \"outro\";\n  mensagemLead = body;\n}\n\n// 3️⃣ Retorna mantendo sua estrutura original\nreturn [\n  {\n    json: {\n      ...$json,\n      tipoMensagem,\n      mensagemLead,\n      telefoneLead: body.phone,\n      messageId: body.messageId\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1872,
        784
      ],
      "id": "3daefc23-c135-4c14-9e5a-9f5afc9f7f53",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      debugCompleto: $json\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        768
      ],
      "id": "c602916a-26cc-408d-b772-b3f32aff074a",
      "name": "MENSAGEN OFICIAL PARA O AGENTE"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "appointments",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "{{ $('Get a row1').first().json.user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        5648,
        1312
      ],
      "id": "3d68e089-cfd6-435d-b008-d158c02d5d10",
      "name": "EXCLUIR_REUNIÃO_CRM",
      "credentials": {
        "supabaseApi": {
          "id": "08McCiYnqbejcODw",
          "name": "OmniZap.AI"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Limit1').item.json.telefone }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        4912,
        1008
      ],
      "id": "0123c78c-f516-4846-a6e7-72b35dabfe8e",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "u8wKduElywl4HeHO",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "leads",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues0_Field_Value', ``, 'string') }}"
            },
            {
              "fieldId": "next_followup_at",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues1_Field_Value', ``, 'string') }}"
            },
            {
              "fieldId": "followup_count"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        4880,
        1312
      ],
      "id": "9e9fb715-de63-4b0f-a02d-224b6da6ae68",
      "name": "'ATUALIZACÃO_PROSPECT_CRM",
      "credentials": {
        "supabaseApi": {
          "id": "08McCiYnqbejcODw",
          "name": "OmniZap.AI"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=Essa tool desativa o seu atendimento e passa a conversa para o atendente humano. Após a desativação, você não poderá mais falar com o atentende.\n\nApenas fale sobre a possibilidade de um atendimento humano caso seja explicitamente requisitado esse tipo de atendimento, ou caso o clima da conversa com o usuário ficar muito negativo.\n\nAntes de desativar, reforce para o cliente sobre quais assuntos você pode ajuda-lo e confirme se mesmo assim ele deseja seguir com atendimento humano.\n\nSempre solicite uma dupla confirmação do usuário antes de desativar o seu atendimento.\n\n# Resposta após desativação:\nResponda ao usuário que a conversa foi encaminhada para um atendente especializado que logo irá entrar em contato e dará seguimento ao atendimento.",
        "operation": "set",
        "key": "={{ $('Dados Lead').item.json.IdConversa }}_status",
        "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Value', `Definir como \"Ativo\" ou \"Desativado\"\n\nSempre manter ativo, \nDesativar apenas após dupla confirmação explicita do usuário.`, 'string') }}",
        "expire": true,
        "ttl": "={{ $('Parametros Fluxo').item.json.TempoInatividadeAgente }}"
      },
      "type": "n8n-nodes-base.redisTool",
      "typeVersion": 1,
      "position": [
        5792,
        1008
      ],
      "id": "e39f586f-0f39-4bf1-a5a1-f1e60764e030",
      "name": "DESATIVAR AGENTE",
      "credentials": {
        "redis": {
          "id": "db6OCyQgQQYQz54S",
          "name": "Redis account"
        }
      },
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "content": "DESATIVAR AGENTE ?",
        "height": 224,
        "width": 352
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        16,
        752
      ],
      "typeVersion": 1,
      "id": "fb861c97-d509-46be-a889-d3712c712331",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "followup-omnizap",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1968,
        2640
      ],
      "id": "6adf01d1-1aa5-4266-8992-363c5eb152e9",
      "name": "Webhook - Gatilho Follow-Up",
      "webhookId": "ba30e9e5-72d7-48b3-9983-b720eb59e638"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4d561a17-a838-4399-a6eb-06602343dcfc",
              "name": "followUp1",
              "value": "={{ 40 }}",
              "type": "number"
            },
            {
              "id": "649565ac-4d17-4ab3-8bb8-22b94bd829b8",
              "name": "followUp2",
              "value": "={{ 120 }}",
              "type": "number"
            },
            {
              "id": "2151d3c3-30e7-4cb4-8545-7348e60f5217",
              "name": "followUp3",
              "value": "={{ 1440 }}",
              "type": "number"
            },
            {
              "id": "2618f130-5fc2-468d-803e-2ca0002b3b37",
              "name": "horario_atual",
              "value": "={{ $('Schedule Trigger').item.json.timestamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1504,
        2640
      ],
      "id": "0be5924e-2976-4270-90fb-8596a649590c",
      "name": "Padronizacao"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "leads",
        "filters": {
          "conditions": [
            {
              "keyName": "etapa_pipeline",
              "condition": "eq",
              "keyValue": "em_atendimento"
            },
            {
              "keyName": "etapa_pipeline",
              "condition": "eq",
              "keyValue": "novo_lead"
            },
            {
              "keyName": "follow_up",
              "condition": "eq",
              "keyValue": "follow_up2"
            },
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "{{ $('Get a row1').first().json.user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1312,
        2640
      ],
      "id": "73d3d538-969a-4c7f-8bf2-9c7e5be94a02",
      "name": "Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "08McCiYnqbejcODw",
          "name": "OmniZap.AI"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f06ca346-3936-44a1-8a35-e3d42a2f2639",
              "leftValue": "={{ $json.follow_up }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "1dc920c3-7f1f-48f8-b2a6-414a52281640",
              "leftValue": "={{ $('Padronizacao').item.json.horario_atual.toDateTime() }}",
              "rightValue": "={{ $json.ultima_mensagem.toDateTime().plus($('Padronizacao').item.json.followUp1, 'minutes') }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -400,
        1984
      ],
      "id": "d33fa9de-92fc-4a5e-a139-ec75ea6032a8",
      "name": "Filter"
    },
    {
      "parameters": {
        "content": "Faça os ajustes necessários no Prompt do seu agente",
        "height": 220,
        "width": 330,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -208,
        1920
      ],
      "id": "60286685-4175-47fe-9d4f-35ce12691501",
      "name": "Sticky Note21"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "leads",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $('Supabase').item.json.telefone }}"
            },
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "{{ $('Get a row1').first().json.user_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "follow_up",
              "fieldValue": "=follow_up1"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        784,
        1984
      ],
      "id": "e9be3058-9d56-4f6f-ac59-912f0de59245",
      "name": "Atualizar_Lead",
      "credentials": {
        "supabaseApi": {
          "id": "08McCiYnqbejcODw",
          "name": "OmniZap.AI"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f06ca346-3936-44a1-8a35-e3d42a2f2639",
              "leftValue": "={{ $json.follow_up }}",
              "rightValue": "follow_up1",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "2f5d3727-d077-4c44-8dd3-a91bef489eb8",
              "leftValue": "={{ $('Padronizacao').item.json.horario_atual.toDateTime() }}",
              "rightValue": "={{ $json.ultima_mensagem.toDateTime().plus($('Padronizacao').item.json.followUp2, 'minutes') }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -400,
        2656
      ],
      "id": "f04624e1-d470-4dd7-b014-a50285569f7c",
      "name": "Filter1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Você é um Agente de Inteligência Artificial responsável por realizar o SEGUNDO FOLLOW-UP em conversas comerciais.\n\nEsse follow-up acontece após {{ $('Padronizacao').item.json.followUp2 }} 120 minutos sem resposta, caso o primeiro follow-up não tenha sido respondido.\n\n--------------------------------------------------\nFLUXO DE DADOS DO LEAD\n--------------------------------------------------\n- Antes do follow-up, a automação já fornece os dados do lead.\n- Considere que, na maioria dos casos, nome e contexto já estarão disponíveis.\n- Utilize a tool \"pegar_dados_lead\" SOMENTE se alguma informação essencial estiver ausente ou ambígua.\n\n--------------------------------------------------\nUSO DA TOOL pegar_dados_lead\n--------------------------------------------------\n- Utilize a tool apenas se for necessário confirmar ou obter dados como:\n  - Nome do lead\n  - Empresa\n  - Ponto de interesse tratado anteriormente\n- Nunca utilize a tool se os dados já estiverem claros no histórico ou no input.\n- Após utilizar a tool, aplique imediatamente os dados obtidos na mensagem final.\n- Nunca mencione o uso da tool ao lead.\n\n--------------------------------------------------\nREGRAS OBRIGATÓRIAS\n--------------------------------------------------\n- Analise TODO o histórico da conversa, incluindo o primeiro follow-up.\n- Entenda exatamente o interesse demonstrado pelo lead.\n- Utilize o NOME REAL do lead sempre que ele estiver disponível.\n- É TERMINANTEMENTE PROIBIDO utilizar placeholders como:\n  [Nome do Lead], {nome}, {{name}}, [assunto tratado] ou similares.\n- Caso o nome do lead NÃO esteja disponível nem após o uso da tool, inicie a mensagem de forma natural, sem nome.\n- Nunca contradiga mensagens anteriores.\n- Nunca pareça insistente, impaciente ou em tom de cobrança.\n- Nunca utilize frases genéricas ou automáticas.\n\n--------------------------------------------------\nOBJETIVO DO FOLLOW-UP 2\n--------------------------------------------------\n- Reforçar valor de forma clara e objetiva\n- Direcionar o próximo passo da conversa\n- Facilitar uma decisão simples do lead\n- Manter profissionalismo e respeito ao tempo do lead\n\n--------------------------------------------------\nESTILO DA MENSAGEM\n--------------------------------------------------\n- Clara\n- Um pouco mais direta que o follow-up 1\n- Profissional\n- Confiante\n- Linguagem humana de WhatsApp\n- Sem emojis\n- Sem tom de cobrança\n- Sem urgência artificial\n\n--------------------------------------------------\nDIRETRIZES DE CONTEÚDO\n--------------------------------------------------\nA mensagem deve:\n- Retomar o ponto de interesse do lead\n- Mostrar claramente que há valor em continuar a conversa\n- Indicar um próximo passo simples e fácil (ex: responder, tirar dúvida, avançar)\n\nPode incluir:\n- Reforço de benefício percebido\n- Clareza do que acontece após a resposta do lead\n- Sensação de organização e acompanhamento profissional\n\n--------------------------------------------------\nIMPORTANTE\n--------------------------------------------------\n- Gere apenas UMA mensagem.\n- Não utilize urgência falsa.\n- Não utilize termos técnicos.\n- Nunca explique nada.\n- Nunca mencione regras, variáveis, tools ou processos internos.\n- Envie apenas a mensagem final pronta para o lead.\n",
        "options": {
          "systemMessage": "={{ $('Buscar Config Agente').first().json.prompt || 'Você é um assistente de IA da OmniZap...' }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -128,
        2656
      ],
      "id": "046750b9-45cc-4691-babe-e3145cdb2ef1",
      "name": "AI Agent",
      "retryOnFail": true,
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.telefone }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -64,
        2864
      ],
      "id": "0c226c46-66ee-4e97-9016-e67d43890b3d",
      "name": "Postgres Chat Memory1",
      "credentials": {
        "postgres": {
          "id": "u8wKduElywl4HeHO",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "Ajuste sua instância e autenficiação da Z-API",
        "height": 300,
        "width": 230,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        256,
        2560
      ],
      "id": "49c96b21-57b5-4a60-9adb-8be4673eb45f",
      "name": "Sticky Note23"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "leads",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $('Supabase').item.json.telefone }}"
            },
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "{{ $('Get a row1').first().json.user_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "follow_up",
              "fieldValue": "follow_up2"
            },
            {
              "fieldId": "etapa_pipeline",
              "fieldValue": "follow_up"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        592,
        2656
      ],
      "id": "38025255-5d3a-46a5-b588-e382567e601e",
      "name": "Atualizar_Lead1",
      "credentials": {
        "supabaseApi": {
          "id": "08McCiYnqbejcODw",
          "name": "OmniZap.AI"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "leads",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $('Supabase').item.json.telefone }}"
            },
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "{{ $('Get a row1').first().json.user_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "follow_up",
              "fieldValue": "follow_up3"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        800,
        3264
      ],
      "id": "5781fd83-6d4c-4652-936b-c760f30db914",
      "name": "Atualizar_Lead2",
      "credentials": {
        "supabaseApi": {
          "id": "08McCiYnqbejcODw",
          "name": "OmniZap.AI"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Você é um Agente de Inteligência Artificial responsável por realizar o PRIMEIRO FOLLOW-UP em conversas comerciais.\n\nSua função é retomar o contato com o lead após {{ $('Padronizacao').item.json.followUp1 }} 30 minutos sem resposta, de forma educada, natural e totalmente contextualizada.\n\n--------------------------------------------------\nFLUXO DE DADOS DO LEAD\n--------------------------------------------------\n- Antes do follow-up, a automação já fornece os dados do lead.\n- Considere que, na maioria dos casos, nome e contexto já estarão disponíveis.\n- Utilize a tool \"pegar_dados_lead\" SOMENTE se alguma informação essencial estiver ausente ou ambígua.\n\n--------------------------------------------------\nUSO DA TOOL pegar_dados_lead\n--------------------------------------------------\n- Utilize a tool apenas se for necessário confirmar ou obter dados como:\n  - Nome do lead\n  - Empresa\n  - Assunto tratado anteriormente\n- Nunca utilize a tool se os dados já estiverem claros no histórico ou no input.\n- Após utilizar a tool, aplique imediatamente os dados obtidos na mensagem final.\n- Nunca mencione o uso da tool ao lead.\n\n--------------------------------------------------\nREGRAS OBRIGATÓRIAS\n--------------------------------------------------\n- Antes de enviar qualquer mensagem, analise TODO o histórico da conversa.\n- Entenda exatamente em que ponto a conversa parou.\n- Utilize o NOME REAL do lead sempre que ele estiver disponível.\n- É TERMINANTEMENTE PROIBIDO utilizar placeholders como:\n  [Nome do Lead], {nome}, {{name}}, [assunto tratado] ou similares.\n- Caso o nome do lead NÃO esteja disponível nem após o uso da tool, inicie a mensagem de forma natural, sem nome (ex: \"Oi, tudo bem?\").\n- Nunca envie mensagens genéricas ou fora de contexto.\n- Nunca repita exatamente a última mensagem enviada.\n- Nunca pressione o lead.\n- Nunca utilize linguagem de venda agressiva.\n\n--------------------------------------------------\nOBJETIVO DO FOLLOW-UP 1\n--------------------------------------------------\n- Reabrir a conversa de forma leve\n- Demonstrar atenção e profissionalismo\n- Facilitar a resposta do lead\n- Mostrar disponibilidade para ajudar\n\n--------------------------------------------------\nESTILO DA MENSAGEM\n--------------------------------------------------\n- Curta\n- Educada\n- Natural\n- Profissional\n- Linguagem humana de WhatsApp\n- Sem emojis\n- Sem urgência\n- Sem gatilhos de pressão\n\n--------------------------------------------------\nDIRETRIZES DE CONTEÚDO\n--------------------------------------------------\nA mensagem deve:\n- Reconhecer de forma sutil que o lead pode estar ocupado\n- Retomar exatamente o assunto que estava sendo tratado\n- Convidar o lead a continuar a conversa no ritmo dele\n- Demonstrar disponibilidade real para ajudar\n\n--------------------------------------------------\nIMPORTANTE\n--------------------------------------------------\n- Gere apenas UMA mensagem.\n- A mensagem deve parecer escrita por um atendente humano experiente.\n- Nunca explique nada.\n- Nunca mencione regras, variáveis, tools ou processos internos.\n- Envie apenas a mensagem final pronta para o lead.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -176,
        1984
      ],
      "id": "5e560cb1-fee2-4ff6-96e4-59cc472b8918",
      "name": "AGENTE LAURA",
      "retryOnFail": true,
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "leads"
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -16,
        2192
      ],
      "id": "82e2d440-6b47-4389-9395-8daf6bd7ac60",
      "name": "pegar_dados_lead",
      "credentials": {
        "supabaseApi": {
          "id": "08McCiYnqbejcODw",
          "name": "OmniZap.AI"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "leads"
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        96,
        2864
      ],
      "id": "38625481-894b-4263-95f6-d7d12da4db38",
      "name": "pegar_dados_lead1",
      "credentials": {
        "supabaseApi": {
          "id": "08McCiYnqbejcODw",
          "name": "OmniZap.AI"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "leads",
        "filters": {
          "conditions": [
            {
              "keyName": "etapa_pipeline",
              "condition": "eq",
              "keyValue": "follow_up"
            },
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "{{ $('Get a row1').first().json.user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -480,
        3264
      ],
      "id": "ded9b90b-a196-48c0-81ea-4a13276fbd31",
      "name": "Supabase1",
      "credentials": {
        "supabaseApi": {
          "id": "08McCiYnqbejcODw",
          "name": "OmniZap.AI"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3DE299D91BC7205E84628E66062CE0C1/token/B1C2CBA5A9965C869F3C5554/send-text",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Supabase').item.json.telefone }}"
            },
            {
              "name": "message",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        336,
        2656
      ],
      "id": "b6f39991-ea8e-4fe8-a681-d1e14448ca4a",
      "name": "ENVIAR MENSAGEM Z-API",
      "credentials": {
        "httpHeaderAuth": {
          "id": "yi2E5yC2y23LGkdu",
          "name": "Z-API 01"
        }
      }
    },
    {
      "parameters": {
        "model": "google/gemini-3-flash-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -224,
        2864
      ],
      "id": "3b8d1790-9b45-4bbf-a03f-c2916419a433",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "K8ZDEKsbd9Abwz3V",
          "name": "API Open Router"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1104,
        2640
      ],
      "id": "ae8a17f0-2de4-4901-9477-88110c6617f0",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        912,
        2640
      ],
      "id": "4cfd56f1-2d7b-43f3-8a94-0825d6f4e612",
      "name": "Merge"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1056,
        3728
      ],
      "id": "05696339-2656-4d1e-8ee3-2f5ed089a664",
      "name": "Wait",
      "webhookId": "37c7e2fa-28f0-46a5-9895-b406837af715"
    },
    {
      "parameters": {
        "content": "Ajuste sua instância e autenficiação da Z-API",
        "height": 300,
        "width": 230,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        272,
        3200
      ],
      "id": "60b09228-4ba3-4776-a0ec-e71b038e1da5",
      "name": "Sticky Note24"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Você é um Agente de Inteligência Artificial responsável por realizar o TERCEIRO E ÚLTIMO FOLLOW-UP em conversas comerciais.\n\nSua função é retomar o contato com o lead após {{ $('Padronizacao').item.json.followUp3 }} sem resposta, de forma educada, natural e totalmente contextualizada.\n\nEste é o último contato automático antes de encerrar a tentativa de conversa.\n\nA mensagem deve aplicar o princípio de **fechamento elegante**, demonstrando respeito pelo tempo do lead e deixando a porta aberta para que ele retome a conversa quando quiser.\n\n---\n\n## FLUXO DE DADOS DO LEAD\n\n* Antes do follow-up, a automação já fornece os dados do lead.\n* Considere que, na maioria dos casos, nome e contexto já estarão disponíveis.\n* Utilize a tool \"pegar_dados_lead\" SOMENTE se alguma informação essencial estiver ausente ou ambígua.\n\n---\n\n## USO DA TOOL pegar_dados_lead\n\n* Utilize a tool apenas se for necessário confirmar ou obter dados como:\n\n  * Nome do lead\n  * Empresa\n  * Assunto tratado anteriormente\n* Nunca utilize a tool se os dados já estiverem claros no histórico ou no input.\n* Após utilizar a tool, aplique imediatamente os dados obtidos na mensagem final.\n* Nunca mencione o uso da tool ao lead.\n\n---\n\n## REGRAS OBRIGATÓRIAS\n\n* Antes de enviar qualquer mensagem, analise TODO o histórico da conversa.\n* Entenda exatamente em que ponto a conversa parou.\n* Utilize o NOME REAL do lead sempre que ele estiver disponível.\n* É TERMINANTEMENTE PROIBIDO utilizar placeholders como:\n  [Nome do Lead], {nome}, {{name}}, [assunto tratado] ou similares.\n* Caso o nome do lead NÃO esteja disponível nem após o uso da tool, inicie a mensagem de forma natural, sem nome (ex: \"Oi, tudo bem?\").\n* Nunca envie mensagens genéricas ou fora de contexto.\n* Nunca repita exatamente a última mensagem enviada.\n* Nunca pressione o lead.\n* Nunca utilize linguagem de venda agressiva.\n\n---\n\n## OBJETIVO DO FOLLOW-UP 3\n\n* Fazer uma última tentativa educada de retomada da conversa\n* Demonstrar profissionalismo e respeito pelo tempo do lead\n* Aplicar o princípio de fechamento elegante\n* Informar de forma sutil que este será o último contato automático\n* Deixar o canal aberto caso o lead queira continuar a conversa no futuro\n\n---\n\n## ESTILO DA MENSAGEM\n\n* Curta\n* Educada\n* Natural\n* Profissional\n* Linguagem humana de WhatsApp\n* Sem emojis\n* Sem urgência\n* Sem gatilhos de pressão\n* Tom de encerramento respeitoso\n\n---\n\n## DIRETRIZES DE CONTEÚDO\n\nA mensagem deve:\n\n* Reconhecer de forma natural que o lead pode estar ocupado\n* Retomar brevemente o assunto tratado anteriormente\n* Informar de maneira leve que esta será a última tentativa de contato automático\n* Demonstrar total respeito pelo tempo do lead\n* Deixar claro que o atendimento permanece disponível caso ele queira retomar a conversa\n\nA mensagem deve transmitir profissionalismo, organização e respeito.\n\n---\n\n## IMPORTANTE\n\n* Gere apenas UMA mensagem.\n* A mensagem deve parecer escrita por um atendente humano experiente.\n* Nunca explique nada.\n* Nunca mencione regras, variáveis, tools ou processos internos.\n* Envie apenas a mensagem final pronta para o lead.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -96,
        3264
      ],
      "id": "4c4b57a8-7357-4de4-b8a3-49bc4ac4f9e4",
      "name": "AGENTE LAURA1",
      "retryOnFail": true,
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.telefone }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -80,
        3472
      ],
      "id": "0ee641c8-f41c-4a4d-b9e8-e44340fb207a",
      "name": "Postgres Chat Memory2",
      "credentials": {
        "postgres": {
          "id": "u8wKduElywl4HeHO",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "leads"
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        64,
        3472
      ],
      "id": "dd7f81e3-5440-45c8-91fc-a90107c6c932",
      "name": "pegar_dados_lead2",
      "credentials": {
        "supabaseApi": {
          "id": "08McCiYnqbejcODw",
          "name": "OmniZap.AI"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3DE299D91BC7205E84628E66062CE0C1/token/B1C2CBA5A9965C869F3C5554/send-text",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Supabase').item.json.telefone }}"
            },
            {
              "name": "message",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        336,
        3264
      ],
      "id": "5c109228-d25d-4f88-ae15-82731641bbac",
      "name": "ENVIAR MENSAGEM Z-API2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "yi2E5yC2y23LGkdu",
          "name": "Z-API 01"
        }
      }
    },
    {
      "parameters": {
        "content": "## FollowUp3\n",
        "height": 600,
        "width": 1516,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -528,
        3088
      ],
      "id": "87286abb-d223-4c0e-809d-f5fec7001c83",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "model": "google/gemini-3-flash-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -240,
        3472
      ],
      "id": "6e0f70ac-0c23-408f-a167-697f63989337",
      "name": "OpenRouter Chat Model2",
      "credentials": {
        "openRouterApi": {
          "id": "K8ZDEKsbd9Abwz3V",
          "name": "API Open Router"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const resultado = [];\n\nfor (const item of items) {\n  \n  const followUp = item.json.follow_up;\n  const ultimaMensagem = item.json.ultima_mensagem;\n\n  if (!ultimaMensagem) {\n    continue; // evita erro se vier null\n  }\n\n  const agora = new Date();\n  const ultima = new Date(ultimaMensagem);\n\n  const diferencaHoras = (agora - ultima) / (1000 * 60 * 60);\n\n  if (followUp === \"follow_up2\" && diferencaHoras >= 24) {\n    resultado.push(item);\n  }\n}\n\nreturn resultado;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        3264
      ],
      "id": "421f62db-7370-4579-9f45-1390f72fcb4f",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "content": "FILTRAR HORARIO COMERCIAL \n",
        "height": 304,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1792,
        2544
      ],
      "typeVersion": 1,
      "id": "7281383c-8e69-45ed-9814-f7b084a9f158",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "jsCode": "const agora = new Date();\n\n// Ajusta pro fuso do Brasil (importante se teu n8n estiver em servidor gringo)\nconst horaBrasil = new Date(\n  agora.toLocaleString(\"en-US\", { timeZone: \"America/Sao_Paulo\" })\n).getHours();\n\n// Define o horário comercial\nconst inicio = 8;  // 08:00\nconst fim = 19;    // 19:00\n\n// Verifica se está dentro do horário\nconst dentroHorario = horaBrasil >= inicio && horaBrasil < fim;\n\n// Se estiver dentro do horário, deixa passar\nif (dentroHorario) {\n  return items.map(item => {\n    return {\n      json: {\n        ...item.json,\n        dentroHorario: true,\n        horaAtual: horaBrasil\n      }\n    };\n  });\n}\n\n// Se NÃO estiver, bloqueia o fluxo\nreturn [];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1728,
        2640
      ],
      "id": "87d78d94-d2af-4786-aff1-2f85cfda2fb3",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "content": "Ajuste sua instância e autenficiação da Z-API",
        "height": 300,
        "width": 230,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        192,
        1920
      ],
      "id": "b107aa2b-c8a6-4c2e-9e37-53fc5bc14945",
      "name": "Sticky Note25"
    },
    {
      "parameters": {
        "content": "Faça os ajustes necessários no Prompt do seu agente",
        "height": 220,
        "width": 330,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -176,
        2608
      ],
      "id": "79872a62-b433-4d24-87a0-40178f9c9c25",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## FollowUp1\n",
        "height": 600,
        "width": 1516,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -528,
        1792
      ],
      "id": "990a6f5e-348d-45a2-bc51-4665bc6d3a20",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## FollowUp2\n",
        "height": 600,
        "width": 1516,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -528,
        2432
      ],
      "id": "63db34d6-8744-431c-8b6a-785aa8fa8e29",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.telefone }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -160,
        2192
      ],
      "id": "1040507e-a162-434f-b472-d539072b3b55",
      "name": "Postgres Chat Memory3",
      "credentials": {
        "postgres": {
          "id": "u8wKduElywl4HeHO",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3DE299D91BC7205E84628E66062CE0C1/token/B1C2CBA5A9965C869F3C5554/send-text",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Supabase').item.json.telefone }}"
            },
            {
              "name": "message",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        256,
        1984
      ],
      "id": "886eaeb9-53f3-46d3-9e52-9e8262259b8b",
      "name": "ENVIAR MENSAGEM Z-API3",
      "credentials": {
        "httpHeaderAuth": {
          "id": "yi2E5yC2y23LGkdu",
          "name": "Z-API 01"
        }
      }
    },
    {
      "parameters": {
        "model": "google/gemini-3-flash-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -320,
        2192
      ],
      "id": "0f170919-ce1b-49b8-923b-2a45a325e2f6",
      "name": "OpenRouter Chat Model3",
      "credentials": {
        "openRouterApi": {
          "id": "K8ZDEKsbd9Abwz3V",
          "name": "API Open Router"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "whatsapp_connections",
        "filters": {
          "conditions": [
            {
              "keyName": "numero",
              "keyValue": "={{ $('Webhook').item.json.body.connectedPhone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4128,
        1088
      ],
      "id": "c1f7adea-f894-473f-9733-cf7bb779084a",
      "name": "Get a row1",
      "credentials": {
        "supabaseApi": {
          "id": "08McCiYnqbejcODw",
          "name": "OmniZap.AI"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "agents",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "keyValue": "{{ $('Get a row1').first().json.user_id }}"
            },
            {
              "keyName": "ativo",
              "condition": "eq",
              "keyValue": true
            }
          ]
        }
      },
      "id": "e0bbedfa-ca01-4ebb-bfa1-163f25c830ef",
      "name": "Buscar Config Agente",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1872,
        584
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "08McCiYnqbejcODw",
          "name": "OmniZap.AI"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.omniiabr.com",
            "user-agent": "Mozilla/5.0 (Linux; Android 10) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/111.0.5563.115 Mobile Safari/537.36",
            "content-length": "739",
            "accept-encoding": "gzip",
            "content-type": "application/json; charset=utf-8",
            "origin": "https://api.z-api.io",
            "server": "Z-API",
            "x-forwarded-for": "163.176.156.2",
            "x-forwarded-host": "n8n.omniiabr.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "7ca7ff152771",
            "x-real-ip": "163.176.156.2",
            "z-api-token": "B1C2CBA5A9965C869F3C5554"
          },
          "params": {},
          "query": {},
          "body": {
            "isStatusReply": false,
            "chatLid": "119885506031757@lid",
            "connectedPhone": "5521994277725",
            "waitingMessage": false,
            "isEdit": false,
            "isGroup": false,
            "isNewsletter": false,
            "instanceId": "3DE299D91BC7205E84628E66062CE0C1",
            "messageId": "3AF656BE9E142AB706E7",
            "phone": "5521972380013",
            "fromMe": false,
            "momment": 1774675777000,
            "status": "RECEIVED",
            "chatName": "Fabricio Mendes",
            "senderPhoto": null,
            "senderName": "Fabricio Mendes",
            "photo": "https://pps.whatsapp.net/v/t61.24694-24/611659028_873924932354888_5222867902608516786_n.jpg?ccb=11-4&oh=01_Q5Aa4AE3WqTIkfnFjhCX-X-rx94FE1whujBjb8451bvVAMWiIA&oe=69D46046&_nc_sid=5e03e0&_nc_cat=105",
            "broadcast": false,
            "participantLid": null,
            "forwarded": false,
            "type": "ReceivedCallback",
            "fromApi": false,
            "text": {
              "message": "Oi"
            }
          },
          "webhookUrl": "https://webhook.omniiabr.com/webhook-test/whebhook omni.ai",
          "executionMode": "test"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Cliente Existe?1": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Cliente1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Filtro Inicial1": {
      "main": [
        [
          {
            "node": "Dados Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados Lead": {
      "main": [
        [
          {
            "node": "IF - Tem Email?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parametros Fluxo": {
      "main": [
        [
          {
            "node": "Filtro Inicial1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É INTERVENÇÃO HUMANA": {
      "main": [
        [
          {
            "node": "DESATIVA AGENTE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DESATIVA AGENTE": {
      "main": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory Manager": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory Manager1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Email1": {
      "main": [
        [
          {
            "node": "Parametros Fluxo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Tem Email?": {
      "main": [
        [
          {
            "node": "Update a row1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "É INTERVENÇÃO HUMANA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row1": {
      "main": [
        [
          {
            "node": "É INTERVENÇÃO HUMANA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory4": {
      "ai_memory": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory5": {
      "ai_memory": [
        [
          {
            "node": "Chat Memory Manager1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "DADOS FIXOS DO LEAD1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "Bot Desativado?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bot Desativado?1": {
      "main": [
        [
          {
            "node": "Chat Memory Manager1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AGENTE LAURA WHATSAPP": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PEGAR_DADOS1": {
      "ai_tool": [
        [
          {
            "node": "AGENTE LAURA WHATSAPP",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ENVIAR MENSAGEM Z-API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-fixing Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Auto-fixing Output Parser1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser [Schema]": {
      "ai_outputParser": [
        [
          {
            "node": "Auto-fixing Output Parser1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DADOS FIXOS DO LEAD1": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ATUALIZAR_LEAD_CRM": {
      "ai_tool": [
        [
          {
            "node": "AGENTE LAURA WHATSAPP",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AGENTE LAURA WHATSAPP",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "CRIAR_REUNIAO_CRM": {
      "ai_tool": [
        [
          {
            "node": "AGENTE LAURA WHATSAPP",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Mensagem Texto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensagem Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensagem Imagem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensagem Documento PDF1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensagem Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcrever Áudio": {
      "main": [
        [
          {
            "node": "Add Audio Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Add Imagem Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem Texto": {
      "main": [
        [
          {
            "node": "Add Texto Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem Audio": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem Imagem": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Add PDF Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem Erro": {
      "main": [
        [
          {
            "node": "Add Error Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem Documento PDF1": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Transcrever Áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add PDF Buffer": {
      "main": [
        [
          {
            "node": "MENSAGEN OFICIAL PARA O AGENTE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Imagem Buffer": {
      "main": [
        [
          {
            "node": "MENSAGEN OFICIAL PARA O AGENTE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Error Buffer": {
      "main": [
        [
          {
            "node": "MENSAGEN OFICIAL PARA O AGENTE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Audio Buffer": {
      "main": [
        [
          {
            "node": "MENSAGEN OFICIAL PARA O AGENTE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Texto Buffer": {
      "main": [
        [
          {
            "node": "MENSAGEN OFICIAL PARA O AGENTE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ENVIAR MENSAGEM Z-API1": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Buffer 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ComparandoMensagens": {
      "main": [
        [
          {
            "node": "Apagar Buffer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buffer 1": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buffer 4": {
      "main": [
        [
          {
            "node": "ComparandoMensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apagar Buffer": {
      "main": [
        [
          {
            "node": "Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "Cliente Existe?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Extrair Email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "AGENTE LAURA WHATSAPP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MENSAGEN OFICIAL PARA O AGENTE": {
      "main": [
        [
          {
            "node": "Buffer 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EXCLUIR_REUNIÃO_CRM": {
      "ai_tool": [
        [
          {
            "node": "AGENTE LAURA WHATSAPP",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AGENTE LAURA WHATSAPP",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "'ATUALIZACÃO_PROSPECT_CRM": {
      "ai_tool": [
        [
          {
            "node": "AGENTE LAURA WHATSAPP",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "DESATIVAR AGENTE": {
      "ai_tool": [
        [
          {
            "node": "AGENTE LAURA WHATSAPP",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Padronizacao": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "AGENTE LAURA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar_Lead": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "ENVIAR MENSAGEM Z-API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar_Lead1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Atualizar_Lead2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "AGENTE LAURA": {
      "main": [
        [
          {
            "node": "ENVIAR MENSAGEM Z-API3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pegar_dados_lead": {
      "ai_tool": [
        [
          {
            "node": "AGENTE LAURA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "pegar_dados_lead1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supabase1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ENVIAR MENSAGEM Z-API": {
      "main": [
        [
          {
            "node": "Atualizar_Lead1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Supabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AGENTE LAURA1": {
      "main": [
        [
          {
            "node": "ENVIAR MENSAGEM Z-API2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory2": {
      "ai_memory": [
        [
          {
            "node": "AGENTE LAURA1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "pegar_dados_lead2": {
      "ai_tool": [
        [
          {
            "node": "AGENTE LAURA1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AGENTE LAURA1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "ENVIAR MENSAGEM Z-API2": {
      "main": [
        [
          {
            "node": "Atualizar_Lead2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "AGENTE LAURA1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Padronizacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory3": {
      "ai_memory": [
        [
          {
            "node": "AGENTE LAURA",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "ENVIAR MENSAGEM Z-API3": {
      "main": [
        [
          {
            "node": "Atualizar_Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AGENTE LAURA",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Gatilho Follow-Up": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row1": {
      "main": [
        [
          {
            "node": "Criar Cliente1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Buscar Config Agente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "2246490e-6b3b-432a-a1e4-90baf06413fb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "39b15f06db29b0532bf9585ac3398eab3faf4b49a61b3b1ccdf0a3fd3087606b"
  },
  "id": "aBiX9GXFX5G_so17DMbp4",
  "tags": []
}